.header {
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    min-height: 1rem;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    margin-bottom: 0.5rem;

    .logo {
	color:#595959;
        font-size: 1.5rem;
        line-height: 3.5rem;

        @media screen and (max-width: $tablet) {
            text-align: center;
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }

    nav {
        display: flex;
        align-items: stretch;
	font-size: 1.3rem;

        @media screen and (max-width: $tablet) {
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .nav-link {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0;
        line-height: 1rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
	padding-bottom: 0rem;
        &.active:after {
            content: ' ';
            height: 2px;
            width: 100%;
            background: $blue;
            border: none;
            position: absolute;
            left: 0;
            bottom: 6px;
        }
    }
}
