@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');

html,
body {
    background-color: #fff;
    font: 14px/1.5 -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color:#595959;
    font-weight: 400;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (max-width: $tablet) { font-size: ($tiny * 0.8); }
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
  font-weight: 500;
}

h2 {
  color:#393939;
  font-weight: 500;
}

h3, h4, h5, h6 {
  color:#494949;
  font-weight: 500;
}

ul {
    list-style-type: square;
    margin: 1rem 0;
    padding: 0 0 0 2.5rem;
}

ol {
    padding: 0;
    padding-left: 1rem;
}

li {
    line-height: 1.55rem;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

strong {
    font-weight: $bold;
}

pre {
    font-size: 0.8rem;
}
