---
layout: body
---

    <!-- Main -->
    <section class="page">
        <header class="hero">
          <div class="copy">
            {% assign title_is_not_empty = page.title | is_not_empty %}
	    {% if title_is_not_empty %}
            <h1>{{ page.title }}</h1>
	    {% endif %}
                {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
                {% if subtitle_is_not_empty %}
                <h3>{{ page.subtitle }}</h3>
                {% endif %}
            </div>
        </header>
        {{ content }}
    </section>
